body{
    background-color: lightgray;
    margin: 0;
}

.big{
    display: flex;
    flex-direction: row;
}

.scores{
    background-color: lightblue;
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    box-shadow: 5px, 5px, 5px, hsla(0, 0%, 0%, 0.1);
    padding: 15px;
    margin: 10px;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.scores .eximg{
    width: fit-content;
    align-self: center;
}

.scores .sc-under{
    display: flex;
    justify-content: space-between;
}

.scores .sc-pair{
    background-color: darkblue;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
}

.sc-pair h1,
.sc-pair h3{
    margin: 0;
}

.scores .sc-title{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: lightgray;
}

.scores .sc-num{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

.streak{
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border: 0;
    border-bottom: 5px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.streak .streakImg{
    max-height: 40px;
    margin: -48px;
}

.exam-set{
    border:2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    background-color: lightyellow;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exam-set .exam-header{
    text-align: center;
    margin: 0;
}

.exam-set .exam-input{
    justify-content: center;   
}

.exam-set .exam-input .score-input{
    height: 25px;
    border-radius: 3px;
    margin: .3rem;
}

.exam-set .exam-input .date-input{
    height: 26px;
    border-radius: 3px;
    margin: .3rem;
}

.exam-set .exam-input .add-button{
    height: 30px;
    width: 50px;
    border-radius: 3px;
    margin: .3rem;
    background-color: green;
}

.exam-set .exam-list{
    margin: 0;
    justify-content: center;
}

.exam-set .exam-list .exam-item{
    margin: 5px;
}

.exam-set .exam-list .delete-button{
    margin: 5px;
    background-color: red;
    border-radius: 3px;
}

.star-img{
    max-width: 5px;
}