.scores{
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    box-shadow: 5px, 5px, 5px, hsla(0, 0%, 0%, 0.1);
    padding: 15px;
    margin: 10px;
    max-width: 500px;
    display: inline-block;
}